<h1>Edit <%= @dog.name %></h1>

<%= render :partial => 'form', :locals => {:display => (@dog.status == 'Available') , :buttonCustom => "Update Dog Settings"} %>


<br><br>

<%= link_to 'Back to My Dogs', dogs_path %>