@import url('https://fonts.googleapis.com/css?family=Caveat+Brush');
@import url('https://fonts.googleapis.com/css?family=Luckiest+Guy');
@import url('https://fonts.googleapis.com/css?family=Irish+Grover');
@import url('https://fonts.googleapis.com/css?family=Droid+Serif|Raleway:400,500,600,700');

body {
  /*https://media.giphy.com/media/d3MKb2hCZaNH63zq/giphy.gif*/
  background-image: url("https://previews.123rf.com/images/damedeeso/damedeeso1407/damedeeso140700058/30507565-couple-of-dogs-in-love-very-close-together-lying-on-grass-in-the-park-with-sunglasses-chilling-out.jpg");
  
  /* Image is centered vertically and horizontally at all times */
  background-position: top center;
  
  /* Image doesn't repeat */
  background-repeat: no-repeat;
  
  /* Makes the image fixed in the viewport so that it doesn't move when 
     the content height is greater than the image height */
  background-attachment: fixed;
  
  /* This is what makes the background image rescale based on its container's size */
  background-size: cover;
}


h1, h2 {
  color: aliceblue;
}

label {
  color: aliceblue;
  font-size: 20px;
  font-weight: bolder;
}

nav a {
  padding-left: 10px;
  padding-right: 10px;
}

div a {
padding-left: 10px;
padding-right: 10px;
}


a {
  color: aliceblue;
  text-decoration: none;
  font-weight: bold;
}

img {
  width: 400px;
  height: 400px;
  max-width: 100%;
  border: 6px solid #379200c7;
  border-radius: 10%;
}

button {
background-color:#022502;
color: white;
font-family: 'Raleway', sans-serif;
font-size: 15px;
border-radius: 0.5em;
}

.button {
  background-color: #022502;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  border-radius: 0.5em;
}

.divdragula {
  text-align: center;
  display: inline-block;
}

.divflex {
  text-align: center;
  display: inline-flex;
}

.imgoverlay {
  /*position: relative;
  text-align: center;
  color: white;*/
  padding: 0;
  margin: 0;
  position: relative;
  text-align: center;
  color: black;
}

/* Bottom left text FOR RIGHT IMAGE*/
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  background-color: #7bd675d4;
  padding: 2px;
  border-radius: 0.5em;
  font-weight: bold;
}

/* Bottom right text FOR LEFT IMAGE*/
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
  background-color: #7bd675d4;
  padding: 2px;
  border-radius: 0.5em;
  font-weight: bold;
}

p {
  text-align: center;
}

table {
  align-content: center;
  align-self: center;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.ptabitem {
padding-left: 200px;
}

.tabitem {
  padding-right: 10px;
  padding-left: 10px;
}

.containermain {
vertical-align: center;
text-align: center;
max-width: 960px; /* common value, responsive design */
margin: 0 auto;

padding: 1em; /*space inside the box*/
 /*space outside the box*/
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;
background-color: #033a1ccf;
}

.boxchop {
  object-fit: cover;
  height: 100px;
  width: 100px;
 }

.tableindex
{
  width:30%;
}
.tdindex
{
  height:40px;
  }
  
.msgTable {
  padding: 50px;
  border-color: black;
  border-style: double;
}

.messagetable {
  border-collapse: collapse;
  width: 100%;
  border: 2px solid black;
}

.messagetd {
  text-align: left;
  padding: 8px;
  border: 1px solid black;
  color: black;
}

.messagetr:nth-child(even){background-color: #f2f2f2}
.messagetr:nth-child(odd){background-color: #b9d8a883}

.messageth {
  background-color: #4CAF50;
  color: white;
  border: 1px solid black;
}

/*.container {
  max-width: 960px;
  margin: 0 auto;
}*/

.thumb {
  /*max-height: 10em;*/
  object-fit: cover;
  height: 150px;
  width: 150px;
}

.currstatus {
  /*max-height: 10em;*/
  object-fit: cover;
  height: 300px;
  width: 250px;
}

.feature {
  max-width: 100%;
  object-fit: cover;
  /*height: 100px;
  width: 100px;*/
}

.featurenotify {
  max-width: 150%;
  object-fit: cover;
  border: 6px solid #920f00;
  /*height: 100px;
  width: 100px;*/
}


.pLabel {
background-color: #b2f2b7eb;
border-bottom-left-radius: 1em;
border-bottom-right-radius: 1em;
color: #042b04;
}

.ptext {
  color: #90d239;
  text-decoration: none;
  font-weight: bold;
}


/**** modal ****/

#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(255,100,100,0.92); /* Black w/ opacity */
}

/* Modal Content (image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: black; /*#ccc;*/
  padding: 10px 0;
  height: 150px;
  font-family: "Droid Serif", serif;
  font-size: 30px;
  font-weight: bolder;
}

/* Add Animation */
.modal-content, #caption {
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
.gu-mirror {
  position: fixed !important;
  margin: 0 !important;
  z-index: 9999 !important;
  opacity: 0.8;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
  filter: alpha(opacity=80);
}
.gu-hide {
  display: none !important;
}
.gu-unselectable {
  -webkit-user-select: none !important;
  -moz-user-select: none !important;
  -ms-user-select: none !important;
  user-select: none !important;
}
.gu-transit {
  opacity: 0.2;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
  filter: alpha(opacity=20);
}
/*body {
  background-color: #942A57;
  margin: 0 auto;
  max-width: 760px;
}*/


html, body {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body, button {
  font-family: Georgia, Helvetica;
  font-size: 17px;
  color: #ecf0f1;
}

h1 {
  text-align: center;
  /*background-color: #AC5C7E;*/
  margin-top: 20px;
  margin-bottom: 0;
  padding: 10px;
}

h3 {
  background-color: rgba(255, 255, 255, 0.2);
  border-bottom: 5px solid #A13462;
  text-align: center;
  padding: 10px;
}

.parent {
  /*background-color: rgba(255, 255, 255, 0.2);*/
  margin: 50px 0;
  padding: 20px;
}
.gh-fork {
  position: fixed;
  top: 0;
  right: 0;
  border: 0;
}

/* dragula-specific example page styles */
.wrapper {
  display: table;
}
.container {
  display: table-cell;
  background-color: rgba(255, 255, 255, 0.2);
  width: 50%;
}
.container:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.2);
}
/*
 * note that styling gu-mirror directly is a bad practice because it's too generic.
 * you're better off giving the draggable elements a unique class and styling that directly!
 */
.container > div,
.gu-mirror {
  margin: 10px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 0.4s ease-in-out;
}
.container > div {
  cursor: move;
  cursor: grab;
  cursor: -moz-grab;
  cursor: -webkit-grab;
}
.gu-mirror {
  cursor: grabbing;
  cursor: -moz-grabbing;
  cursor: -webkit-grabbing;
}
.container .ex-moved {
  background-color: #e74c3c;
}
.container.ex-over {
  background-color: rgba(255, 255, 255, 0.3);
}
#left-lovehandles > div,
#right-lovehandles > div {
  cursor: initial;
}
.handle {
  padding: 0 5px;
  margin-right: 5px;
  background-color: rgba(0, 0, 0, 0.4);
  cursor: move;
}
.image-thing {
  margin: 20px 0;
  display: block;
  text-align: center;
}
.slack-join {
  position: absolute;
  font-weight: normal;
  font-size: 14px;
  right: 10px;
  top: 50%;
  margin-top: -8px;
  line-height: 16px;
}

/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */





