<h1>Aww, Breakup for Real?</h1>

<h2>Break-up Rules</h2>

<p class="pLabel">
Both dogs will now be set to 'Available' and can be searched and matched with other dogs.
Breeding appointment details are saved in case of future woof-ups.
That's it. Happy moving on!
</p>

<form action="/dogwalkdates/<%=#{@woofid}%>/breakup/confirm">
    <button>Confirm Breakup</button>
</form>




<br><br>

<%= link_to 'Back to My Dogs', dogs_path %>
