<h1>Change Preferences for <%= @dog.name %></h1>

<%= render :partial => 'form', :locals => {:display => true , :buttonCustom => "Update Preferences"} %>


<br><br>
<%= link_to 'Back to Matches', "/woofs/#{@request_id}" %>
<%= link_to 'Back to My Dogs', dogs_path %>