<h1>Ready to Woof?</h1>

<table>
    <% @matches.each do |d| %>
    <tr>
    <td><%= link_to d.name, "/woofs/#{@request_id}/#{d.id}/show" %></td>
    <td><%if d.image.present? %><%= link_to image_tag(d.image, :class => 'thumb'), "/woofs/#{@request_id}/#{d.id}/show" %><% end %></td>
    <td>Status:<br><%= link_to d.status, "/woofs/#{@request_id}/#{d.id}/show" %></td>
    </tr>
    <% end %>
</table>

<br> Handle if no matches, link to update preferences

<br><br>
<%= link_to 'Back to My Dogs', dogs_path %>